*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kurale', serif,;
}
body{
  color: #fff;
  background-size: cover;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.MuiPaginationItem-root {
  color: grey!important;
  height: 32px;
  margin: 0 3px;
  padding: 0 6px;
  font-size: 0.875rem;
  min-width: 32px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 16px;
  letter-spacing: 0.01071em;
}
.MuiInputBase-input {
  font: inherit;
  color: grey!important;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: grey !important;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.MuiFormLabel-root {
   color: white !important;
}
.form-control{
  color:grey !important;
}
.form-control:focus {
border-color: grey !important;
}
.btn-primary {
  color: #fff;
  border-color:grey !important;
}